# Dependencies
node_modules/
backend/node_modules/

# Environment Variables & Secrets
.env
backend/.env
*.env.local

# Logs & Debugging
logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# IDE & Editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
